<div class="card">
    <div class="card-header">
        <h2 class="m-0"><strong>{{isineditmode?'UPDATE MOVIE':'ADD MOVIE'}}</strong></h2>
    </div>
    <div class="card-body">
        <form #movieform="ngForm" (ngSubmit)="onAddMovie()">
            <div class="form-group">
                <label for="title">TITLE :-</label>
                <input 
                ngModel
                name="title"
                type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="overview">CONTENT :-</label>
                <textarea 
                ngModel
                name="overview" class="form-control" rows="5"></textarea>
            </div>

            <div class="form-group">
                <label for="vote_average">RATING :-</label>
                <input 
                ngModel
                name="vote_average"
                type="number" class="form-control">
            </div>

            <div class="form-group">
                <label for="poster_path">IMAGE URL :-</label>
                <input 
                ngModel
                name="poster_path"
                type="url" class="form-control">
            </div>

            <div>
                <button 
                *ngIf="!isineditmode"
                mat-raised-button color="primary" class="btn-block">ADD MOVIE</button>

                <button 
                *ngIf="isineditmode"
                (click)="onUpdate()"
                mat-raised-button color="accent" class="btn-block">UPDATE MOVIE</button>
            </div>
        </form>
    </div>
</div>
