<div class="row">
    <div class="col-md-6 offset-md-3">
        <app-movie-four-io-form
        (emitnewonj)="getnewobj($event)"
        [EditObj]="editobj"
        (emitupdateonj)="getupdateobj($event)"
        ></app-movie-four-io-form>
    </div>
</div>
<hr class="bg-primary">
<div class="row">
    <div class="col-md-3 mb-2" *ngFor="let movie of movieArr">
        <app-movie-four-io-card
        [getmoviedata]="movie"
        (emiteditobj)="geteditobj($event)"
        (emitdeleteobj)="getdeleteobj($event)"
        ></app-movie-four-io-card>
    </div>
</div>
